<div class="card-group">
  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag "01dep.jpg", class: "card-img-top"), "https://www.google.cl" %> 
    <div class="card-body">
      <h5 class="card-title">Deportes</h5>
      <p class="card-text">Revisa las últimas noticias positivas del deporte en Chile y el mundo.</p>
    </div>
  </div>

  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag "02far.jpg", class: "card-img-top"), "https://www.google.cl" %> 
    <div class="card-body">
      <h5 class="card-title">Farándula</h5>
      <p class="card-text">Entérate de las copuchas de la farándula nacional e internacional.</p>
    </div>
  </div>

  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag "03nac.jpg", class: "card-img-top"), "https://www.google.cl" %> 
    <div class="card-body">
      <h5 class="card-title">Nacional</h5>
      <p class="card-text">Revisa las noticias felices del ámnito nacional</p>
    </div>
  </div>

  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag "04int.jpg", class: "card-img-top"), "https://www.google.cl" %>
    <div class="card-body">
      <h5 class="card-title">Internacional</h5>
      <p class="card-text">Mantenten al día con las noticias positivas de mundo</p>
    </div>
  </div>

  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag "05pol.jpg", class: "card-img-top"), "https://www.google.cl" %>
    <div class="card-body">
      <h5 class="card-title">Política</h5>
      <p class="card-text">Revisa las noticias positivas de la politica nacional</p>
    </div>
  </div>
</div>