<div id="<%= dom_id noticium %>">
  <p>
    <strong>Id:</strong>
    <%= noticium.id %>
  </p>

  <p>
    <strong>Encabezado:</strong>
    <%= noticium.encabezado %>
  </p>

  <p>
    <strong>Cuerpo:</strong>
    <%= noticium.cuerpo %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= noticium.link %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= noticium.tipo %>
  </p>

</div>
